@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: black;
}

.neon {
	color: #cce7f8;
	font-size: 2.5rem;
	-webkit-animation: shining 0.5s alternate infinite;
	animation: shining 0.5s alternate infinite;
}

@-webkit-keyframes shining {
	from {
		text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
	}

	to {
		text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue, 0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
	}
}

@keyframes shining {
	from {
		text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
	}

	to {
		text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue, 0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
	}
}
